
  


<div class="dashboard">
    <h1>Welcome to Eldorado Hotel </h1>
    <div class="login-options">
      <!-- <div class="login-option">
        <h2>Owner Login</h2>
        <a routerLink="/owner-login" class="login-button">Login as Owner</a>
      </div>
      <div class="login-option">
        <h2>Manager Login</h2>
        <a routerLink="/manager-login" class="login-button">Login as Manager</a>
      </div>
      <div class="login-option">
        <h2>Receptionist Login</h2>
        <a routerLink="/receptionist-login" class="login-button">Login as Receptionist</a>
      </div> -->
      <div class="login-option">
      <h2>Login Page</h2>
      <a routerLink="/login" class="login-button">Login</a>
    </div>
    </div>
    <div class="Guest-Register">
      <button routerLink="/register" class="btn btn-register" style="margin-top:60px">Guest Registration</button>
    </div>
  </div>


  