<ul>
  <li>
      <a routerLink="/staff" routerLinkActive="active">staff</a>
  </li>
  <li>
      <a routerLink="/room" routerLinkActive="active">room</a>
  </li>
  <li>
      <a routerLink="/inventory" routerLinkActive="active">inventory</a>
  </li>
  <li class="logout">
      <button on-click="logOut()">Logout</button>
  </li>
</ul>

<div *ngIf="staffs && staffs.length > 0" class="container staff-table" text-align="center">
  <!-- <button class="btn add" (click)="openForm()">Add Staff</button> -->
    <div class="headers">
        <h2 class="table-title">Staffs</h2>
        <!-- <button class="btn add" (click)="openForm()">Add Staff</button> -->
        
    </div>
</div>
    <div>
      <button class="btn add" (click)="openForm()">Add Staff</button>
      <!-- <button routerLink="/manager-dashboard" class="btn btn-primary" style="float:right">Back</button> -->
    </div>

    <div class="pivot-table">
    <table class="table">
        <thead>
          <tr>
            <th>StaffId</th>
            <th>StaffName</th>
            <th>Age</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Designation</th>
            <th>StaffEmail</th>
            <th>StaffCode</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let s of staffs">
            <td>{{s.staffId}}</td>
            <td>{{s.staffName }}</td>
            <td>{{s.age}}</td>
            <td>{{s.address}}</td>
            <td>{{s.salary}}</td>
            <td>{{s.designation}}</td>
            <td>{{s.staffEmail}}</td>
            <td>{{s.staffCode}}</td>
            <td>
              <button class="btn btn-primary" (click)="openForm(s)">Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteStaff(s.staffId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  
  <div *ngIf="staffs && staffs.length === 0">
    <p>No staffs available</p>
  </div>
  <!-- <ng-template #err>
      <p class="text-danger">Error fetching data</p>
  </ng-template> -->
 
  
  <div class="form-wrapper" *ngIf="showForm">
    <div class="staff-form">
        <h2 class = "text-center text-info">{{formHeader}}</h2>
        <!-- <div class="group">
          <label for="staffId"> StaffId :</label>
          <input type="text" class="form-control" [(ngModel)]="staffId" name="StaffId">
        </div> -->
  
        <div class="group">
            <label for="staffName"> StaffName :</label>
            <input type="text" class="form-control" [(ngModel)]="staffName" name="StaffName">
        </div>
  
        <div class="group">
          <label for="age">Age :</label>
          <input type="int" class="form-control" [(ngModel)]="age" name="Age">
        </div>
  
        <div class="group">
          <label for="address">Address :</label>
          <input type="text" class="form-control" [(ngModel)]="address" name="Address">
        </div>
    
        <div class="group">
          <label for="salary">Salary :</label>
          <input type="number" class="form-control" [(ngModel)]="salary" name="Salary">
        </div>
  
        <div class="group">
            <label for="designation">Designation :</label>
            <input type="text" class="form-control" [(ngModel)]="designation" name="Designation">
        </div>
  
        <div class="group">
          <label for="staffEmail">StaffEmail :</label>
          <input type="text" class="form-control" [(ngModel)]="staffEmail" name="StaffEmail">
        </div>
  
        <div class="group">
            <label for="staffCode">StaffCode :</label>
            <input type="text" class="form-control" [(ngModel)]="staffCode" name="StaffCode">
        </div>
  
        <div class="action">
            <button class="btn btn-primary save" (click)="saveStaff()">Save Changes</button>
            <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
          </div>
    </div>
  </div>
  
  
  